<div class="flex gap-2">
    <a (click)="fetchAdvertisementsOnClick('Liked')">
        <p-chip label="Liked" [style.color]="activeButton === 'Liked' ? 'blue' : 'red'">
        </p-chip>
    </a>
    <a (click)="fetchAdvertisementsOnClick('Following')">
        <p-chip label="Following" [ngStyle]="{'color': activeButton== 'Following'? 'blue' : 'black'}">
        </p-chip>
    </a>
    <a (click)="fetchAdvertisementsOnClick('Favourites')">
        <p-chip label="Favourites" [ngStyle]="{'color': activeButton== 'Favourites'? 'blue' : 'black'}">
        </p-chip>
    </a>
    <a (click)="fetchAdvertisementsOnClick('Visited')">
        <p-chip label="Visited" [ngStyle]="{'color': activeButton=== 'Liked'? 'blue' : 'black'}">
        </p-chip>
    </a>
</div>
<div >
    <app-homepage *ngFor="let ad of advertisementsOnClick" [ad]="ad"></app-homepage>
</div><br><br><br>
<!--
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Following advertisements</div>
                <div class="card-body">
                    <app-homepage *ngFor="let ad of followingAdvertisementsList" [ad]="ad" (fetchData)="followingAdvertisements()"></app-homepage>
                </div>
            </div><br><br>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">favourites advertisements</div>
                <div class="card-body">
                    <app-homepage *ngFor="let ad of favouriteAdvetisementsList" [ad]="ad" (fetchData)="favouriteAdvertisements()"></app-homepage>
                </div>
            </div>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Liked advertisements</div>
                <div class="card-body">
                    <app-homepage *ngFor="let ad of likedAdvetisementsList" [ad]="ad" (fetchData)="likedAdvertisements()"></app-homepage>
                </div>
            </div><br><br>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Visited advertisements</div>
                <div class="card-body">
                    <app-homepage *ngFor="let ad of visitedAdvertisementsList" [ad]="ad" (fetchData)="visitedAdvertisements()"></app-homepage>
                </div>
            </div>
        </div>
</div>
-->

<br><br><br><br>