<div class="flex gap-2">
    <a (click)="fetchAdvertisementsOnClick('Liked')">
        <p-chip label="Liked" [style.color]="activeButton === 'Liked' ? 'blue' : 'red'">
        </p-chip>
    </a>
    <a (click)="fetchAdvertisementsOnClick('Following')">
        <p-chip label="Following" [ngStyle]="{'color': activeButton== 'Following'? 'blue' : 'black'}">
        </p-chip>
    </a>
    <a (click)="fetchAdvertisementsOnClick('Favourites')">
        <p-chip label="Favourites" [ngStyle]="{'color': activeButton== 'Favourites'? 'blue' : 'black'}">
        </p-chip>
    </a>
    <a (click)="fetchAdvertisementsOnClick('Visited')">
        <p-chip label="Visited" [ngStyle]="{'color': activeButton=== 'Liked'? 'blue' : 'black'}">
        </p-chip>
    </a>
    <a (click)="fetchAdvertisementsOnClick('Blocked')">
        <p-chip label="Blocked" [ngStyle]="{'color': activeButton=== 'Liked'? 'blue' : 'black'}">
        </p-chip>
    </a>
</div>
<br>
<div >
    @if (activeButton=='Following') {
        <div class="flex gap-2">
            <a (click)="fetchAdvertisementsOnClick('Following')">
                <p-chip label="Following Advertiser" [ngStyle]="{'color': activeButton=== 'Liked'? 'blue' : 'black'}">
                </p-chip>
            </a>
            <a (click)="fetchProfileOnClick('Following')">
                <p-chip label="Following Profiles" [ngStyle]="{'color': activeButton=== 'Liked'? 'blue' : 'black'}">
                </p-chip>
            </a>
        </div>
    }
    @if (activeButton=='Blocked') {
        <div  class="flex gap-2">
            <a (click)="fetchAdvertisementsOnClick('Blocked')">
                <p-chip label="Blocked Advertiser" [ngStyle]="{'color': activeButton=== 'Liked'? 'blue' : 'black'}">
                </p-chip>
            </a>
            <a (click)="fetchProfileOnClick('Blocked')">
                <p-chip label="Blocked Profiles" [ngStyle]="{'color': activeButton=== 'Liked'? 'blue' : 'black'}">
                </p-chip>
            </a>
        </div>
    }
    @if (profile==true) {
        @for (profile of profileList; track $index) {
            {{profile.id}}
            {{profile.username}}
            {{profile.brandname}}
        }
    } @else {
        <app-homepage *ngFor="let ad of advertisementsOnClick" [ad]="ad"></app-homepage>
    }
</div><br>

<br><br>