<div class="flex gap-2">
    <a (click)="fetchAdvertisementsOnClick('Liked')">
        <p-chip label="Liked" [style.color]="activeButton === 'Liked' ? 'blue' : 'red'">
        </p-chip>
    </a>
    <a (click)="fetchAdvertisementsOnClick('Following')">
        <p-chip label="Following" [ngStyle]="{'color': activeButton== 'Following'? 'blue' : 'black'}">
        </p-chip>
    </a>
    <a (click)="fetchAdvertisementsOnClick('Favourites')">
        <p-chip label="Favourites" [ngStyle]="{'color': activeButton== 'Favourites'? 'blue' : 'black'}">
        </p-chip>
    </a>
    <a (click)="fetchAdvertisementsOnClick('Visited')">
        <p-chip label="Visited" [ngStyle]="{'color': activeButton=== 'Liked'? 'blue' : 'black'}">
        </p-chip>
    </a>
    <a (click)="fetchAdvertisementsOnClick('Blocked')">
        <p-chip label="Blocked" [ngStyle]="{'color': activeButton=== 'Liked'? 'blue' : 'black'}">
        </p-chip>
    </a>
</div>

<div >
    @if (activeButton=='Following') {
        <br>
        <div class="flex gap-2">
            <a (click)="fetchAdvertisementsOnClick('Following')">
                <p-chip label="Advertisement" [ngStyle]="{'color': activeButton=== 'Liked'? 'blue' : 'black'}">
                </p-chip>
            </a>
            <a (click)="fetchProfileOnClick('Following')">
                <p-chip label="Profiles" [ngStyle]="{'color': activeButton=== 'Liked'? 'blue' : 'black'}">
                </p-chip>
            </a>
        </div>
    }
    @if (activeButton=='Blocked') {
        <br>
        <div  class="flex gap-2">
            <a (click)="fetchAdvertisementsOnClick('Blocked')">
                <p-chip label="Advertisement" [ngStyle]="{'color': activeButton=== 'Liked'? 'blue' : 'black'}">
                </p-chip>
            </a>
            <a (click)="fetchProfileOnClick('Blocked')">
                <p-chip label="Profiles" [ngStyle]="{'color': activeButton=== 'Liked'? 'blue' : 'black'}">
                </p-chip>
            </a>
        </div>
    }
    
    @if (profile==true) {
        <br>
        <div class="grid">
            @for (profile of profileList; track $index) {
                <div class="lg:col-4 md:col-3 sm:col-2">
                    <p-card>
                        <ng-template pTemplate="body">
                            <div class="flex justify-content-center algin-content-center">
                                <div class="flex flex-column">
                                    <p-avatar [label]="profile.brandname" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                                    <label>{{profile.brandname}}</label>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="footer" style="margin: 0px;">
                            <div class="flex justify-content-around gap-2">
                                <p-button (onClick)="visitProfile(profile.id)" icon="pi pi-eye" [outlined]="true" [text]="true" [raised]="true" label="Profile"></p-button>
                                @if (followingProfileView) {
                                    <p-button icon="pi pi-user-plus" [text]="true" [outlined]="true" [raised]="true"  (click)="follower(profile.id)"label="UnFollow"></p-button>
                                } @else {
                                    <p-button icon="pi pi-ban" [text]="true" [outlined]="true" [raised]="true" (click)="block(profile.id)" label="Unblock"></p-button>
                                }
                            </div>
                        </ng-template>
                    </p-card>
                </div>
            }
        </div>
    } @else {
        <app-homepage *ngFor="let ad of advertisementsOnClick" [ad]="ad"></app-homepage>
    }
</div><br>

<br><br>