{% extends 'base.html'%}
{% block content %}
    <!--Write code here itself-->
        <div style="margin: 50px;">
            <table class="table  table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Header</th>
                        <th>Url</th>
                        <th>Description</th>
                        <th>type</th>
                        <th>Clicks</th>
                        <th>impression</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in post %}
                    <tr>
                        {% if post.username == user.username %}
                            <td>{{post.header}}</td>
                            <td>{{post.url}}</td>
                            <td>{{post.description|safe}}</td>
                            <td>{{post.type}}</td>
                            <td>{{post.total_clicks}}</td>
                            <td>{{post.impressions}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br><br><br><br>
    
{% endblock %}