<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid container">
        <button style="background-color: black;" (click)="sidebarVisible = true" class="btn"><i class="pi pi-bars" style="font-size: 2rem; color: white;"></i></button>
       <span>
        <a style="padding-left: 10px;" class="navbar-brand"> {{firstName}} {{lastName}}</a>

       </span> 
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
</nav><br><br>
<div class="row">
    <div class="col-3 fixed-left" id="sidebar" style="position: fixed; top: 0; left: 0">
        <p-tree [value]="nodes" [style]="{'border': 'none'}">
                <ng-template let-node pTemplate="url" [style]="{'border': 'none','background-color':'blue' }">
                    <i (click)="componentViewMethod(node.data)" style="text-decoration: none; outline: none;" rel="noopener noreferrer" class="text-700 hover:text-primary btn" >{{ node.label }}</i>
                </ng-template>
                <ng-template let-node pTemplate="default">
                    <b>{{ node.label }}</b>
                </ng-template>
        </p-tree>
    </div>
    <div class="col-8  ml-auto bg-primary" id="content" style="padding-top: 56px;">
        <div class="container">
            <br>
            @if(displayadvertisementformComponent){
                <app-advertisementform></app-advertisementform>
            }
            @else if(advertiserreportComponent) {
                <app-advertiserreports></app-advertiserreports>
            } 
            @else if(userdashboardComponent) {
                <app-userdashboard></app-userdashboard>
            } 
            @else if(useractivitiesComponent) {
                <app-useractivities></app-useractivities>
            } 
            @else if(advertiserdashboardComponent) {
                <app-advertiserdashboard></app-advertiserdashboard>
            } 
            @else{
                <app-alladvertisements></app-alladvertisements>
            }
        </div>
    </div>
        
</div>
    
<br><br><br><br>
