
  .p-tree .p-treenode-content {
    padding-left: 0; /* Removes default padding for content */
    text-align: left; /* Aligns content to left edge */
  }
  
  .p-tree .p-treenode-icon {
    margin-left: 5px; /* Adjusts offset for icon display */
  }
  a{
    cursor: pointer;
    text-decoration: none;
  }
  

:host ::ng-deep .p-tree .p-tree-container .p-treenode {
  padding: 0px;
  outline: 0 none;
  overflow: hidden;
}
:host ::ng-deep .p-treenode-content {
  display: flex;
  align-items: center;
  height: 30px;
}
:host ::ng-deep .p-tree .p-tree-container ol, ul {
  padding-left: 0rem !important;
}
ol, ul {
  padding-left: 0rem !important;
}
.my-tree .p-tree .p-treecontainer .p-treenode-content {
  padding-left: 0rem !important;
}
.tree-container .p-tree {
  overflow: hidden; 
}