<p-card header="Advertise"><br><br>
    <div class="container">
        <div class="form">
            <form #loginform="ngForm" (ngSubmit)="advertisementForm()" class="form container">
                <div class="grid">
                    <label for="adhead" class="col-12 md:col-3 sm:col-3 col-form-label">Brand name</label>
                    <div class="col-12 md:col-9 sm:col-offset-1 sm:col-9">
                        <input pInputText type="text" class="form-control"  id="adhead" name="header" placeholder="Enter brand or website name" [(ngModel)]="advertise.brandname" required><br>
                    </div>
                </div>
                <div  class="grid">
                    <label for="adhead" class="col-12 md:col-3 sm:col-3 col-form-label">Description</label>
                    <div class="col-12 md:col-9 sm:col-offset-1 sm:col-9">
                        <p-editor [style]="{'height':'320px'}" placeholder="Add description" name="description" [(ngModel)]="advertise.description"></p-editor><br><br>
                    </div><br>
                    <label for="adhead" class="col-12 md:col-3 sm:col-3 col-form-label">Url</label>
                    <div class="col-12 md:col-9 sm:col-offset-1 sm:col-9">
                        <input pInputText pinput pInputTextText type="text" class="form-control" id="adhead" name="url" placeholder="Paste your URL" [(ngModel)]="advertise.url"><br>
                    </div><br>
                    <div class="grid">
                        <label for="adhead" class="col-12 md:col-3 sm:col-3 col-form-label">Select Advertisement Type</label>
                        <div class="md:col-4 sm:col-offset-1 sm:col-4">
                            <input pInputText type="checkbox" [(ngModel)]="paiChecked" (change)="paiCheckbox()" name="paiChecked"> Pai's
                        </div><br>
                        <div class="md:col-4 sm:col-offset-1 sm:col-4">
                            <input pInputText type="checkbox" [(ngModel)]="paisaChecked" (change)="paisaCheckbox()" name="paisaChecked" disabled="true"> Paisa(Money)
                        </div><br>
                    </div>
                    
                    <div *ngIf="paiChecked" class="grid">
                        <label for="adhead" class="col-12 md:col-3 sm:col-3 col-form-label">Pai</label>
                        <div class="col-12 md:col-9 sm:col-offset-1 sm:col-9">
                            <input pInputText type="number" class="form-control" id="adsilver" name="silver" placeholder="Enter total Pai's" [(ngModel)]="advertise.pai"><br>
                        </div><br>
    
                        <label for="adhead" class="col-12 md:col-3 sm:col-3 col-form-label">Rate</label>
                        <div class="col-12 md:col-6 sm:col-offset-1 sm:col-6">
                            <input pInputText type="number" class="form-control" id="adsilver" name="silverclick" placeholder="Enter Pai's per click" [(ngModel)]="advertise.paiperclick"><br>
                        </div>
                    
                        <div class="col-12 md:col-3 sm:col-offset-1 sm:col-3">
                            <label  id="adsilver" name="silverclick">Per click</label><br>
                        </div><br>
                    </div>
                    <div *ngIf="paisaChecked" class="grid" >
                        <label for="adhead" class="col-12 md:col-3 sm:col-3 col-form-label">Paisa</label>
                        <div class="col-12 md:col-9 sm:col-offset-1 sm:col-9">
                            <input pInputText type="number" class="form-control" id="admoney" name="money" placeholder="Enter money" [(ngModel)]="advertise.paisa"><br>
                        </div><br>
                        <label for="adhead" class="col-3  sm:col-3 col-form-label">Rate</label>
                        <div class="col-5 sm:col-6">
                            <input pInputText type="number" class="form-control" id="admoney" name="moneyclick" placeholder="Enter amount per click" [(ngModel)]="advertise.paisaperclick"><br>
                        </div>
                        <div class="col-3 sm:col-3 center">
                            <label  id="admoney" name="admoney">Per click</label><br>
                        </div><br>
                    </div>
                    <div class="grid">
                        <label for="adhead" class="col-12 md:col-3 sm:col-3 col-form-label">Country</label>
                        <div class="col-12 md:col-3 sm:col-offset-1 sm:col-3">
                            <input pInputText type="text" class="form-control" id="adsilver" name="silver" placeholder="Target Country" [(ngModel)]="advertise.country"><br>
                        </div><br>
                        <label for="adhead" class="col-12 md:col-1 sm:col-1 col-form-label">State</label>
                        <div class="col-12 md:col-3 sm:col-offset-3 sm:col-1">
                            <input pInputText type="text" class="form-control" id="adsilver" name="silver" placeholder="Target State" [(ngModel)]="advertise.state"><br>
                        </div><br><label for="adhead" class="col-12 md:col-1 sm:col-1 col-form-label">District</label>
                        <div class="col-12 md:col-3 sm:col-offset-1 sm:col-3">
                            <input pInputText type="text" class="form-control" id="adsilver" name="silver" placeholder="Target District" [(ngModel)]="advertise.district"><br>
                        </div><br>
                        <div>
                            <label>Enter hashtags</label>
                            <p-chips [(ngModel)]="advertise.hashtags" separator="," placeholder="Maximum 5 items"></p-chips>
                        </div>
                    </div>
                    <h3 class="text-danger">{{message}}</h3>
                    <div class="col-12 flex justify-content-center align-content-center">
                        <p-button type="submit" href="advertise" class="btn btn-primary">Advertise</p-button>
                    </div>
                </div>
            </form>
        </div>
    </div>    
</p-card>
