

<app-landingnavbar></app-landingnavbar>
<img class="img-fluid" src="\assets\images\Ooty.jpg">
<div class="" >
    <div class="nav">
    </div>
    <div class=" text ">
        <h1 style="color: rgb(4, 0, 255); font-size: 20ch; margin-bottom: 0px;" >Pai Square</h1>
        <h1 style="text-align: center; color: rgb(0, 0, 0); padding-top: 0px;">Explore & Earn</h1><br><br>
    </div>
</div><br>
<div class="grid">   
    <div class="col-12 sm:col-6 md:col-6">
        <h4 style="text-align: center; font-weight: bold;">Advertiser</h4>
        <ul>
            <li>Get targetted user to the business</li>
            <li>Advertiser can advertise ads with money, Pai, And free postings</li>
            <li>It works on pay per click method</li> 
            <li>No third party between user and Advertiser</li> 
            <li>Get followers to the brand by advertising</li> 
            <li>Direct collaboration between advetiser's and user's</li>
            <li>It's combination of social media and advertisement flatform</li>
            <li>Real time comments from user for advertisements</li>
        </ul>
    </div>
    <div class="col-12 sm:col-6 md:col-6">
        <img class="img-fluid" src="\assets\images\advertisment.png">
    </div>
</div>
<br><br>
<div class="container">
    <div class="grid">
        <div class="col-12 sm:col-6 md:col-6">
            <img class="img-fluid" src="assets/images/customer.png" style="width: 100%;">
        </div>
        <div class="col-12 sm:col-6 md:col-6">
            <h4 style="text-align: center; font-weight: bold;">User</h4>
            <ul>
                <li>Get money and pai`s when you click on advertisements</li>
                <li>Get Personalised advertisements recommendation</li>
                <li>Explore various kind of brands</li>
                <li>More about exploring not getting money</li>
                <li>Sell pai`s to Advertiser as much as you like</li>
                <li>Users can contact advertiser directly</li>
            </ul>
        </div>
    </div>
</div>
<br><br>
<app-contactus></app-contactus>