
<div class="container">
    <form [formGroup]="profileForm">
        <p-fieldset legend="Brand information" formGroupName="brandInformation">
            <div class="grid">
                <div class="col-12 md:col-6 sm:col-12">
                    <img src="../../../assets/images/pai_square_with_name.jpg" width="250" height="250">
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="brandName">Brand name</label>
                        <div>
                            <input pInputText id="brandName" formControlName="brandName" name="brandName"
                             placeholder="Enter your brand name"
                             [style]="{'width':'250px'}">
                        </div>
                    </div><br>
                    <div class="pairs">
                        <label for="">Brand Description</label>
                        <div>
                            <input pInputText id="brandDescription" formControlName="brandDescription" name="brandDescription" placeholder="About your brand">
                        </div>
                    </div><br>
                    <div class="pairs">
                        <label for="brandTagLine">Brand Tagline</label>
                        <div>
                            <input pInputText id="brandTagLine" formControlName="brandTagLine"  name="brandTagLine" placeholder="About your brand tagline">
                        </div>
                    </div><br>
                    <div class="pairs">
                        <label for="">Website</label>
                        <div>
                            <input pInputText id="website" formControlName="website" name="website" placeholder="Enter offical brand website">
                        </div>
                    </div>
                    
                </div>
                    
            </div>
            <div class="grid">
                <div class="col-10">
                    <div *ngIf="profileForm.get('brandInformation.website')?.errors?.['invalidUrl']?.invalidResponse">
                        <label class="validator">YouTube URL is not reachable.</label>
                      </div>
                    @if (profileForm.get('brandInformation.website')?.errors?.['invalidUrl']) {
                        
                        <label class="validator">Enter valid url for youtube</label>
                    } 
                    @if (showMessageFor=='brandInformation') {
                        <p-messages [showTransitionOptions]="'50ms'" [hideTransitionOptions]="'50ms'"></p-messages>
                    }
                </div>
                <div class="col-2">
                    <p-button label="Update" (onClick)="onSubmitbrandInformationUpdate()" [disabled]="!profileForm.get('brandInformation')?.valid || updatingInformation"></p-button>
                </div>
            </div>
        </p-fieldset><br>
        <p-fieldset legend="Personal information" formGroupName="personalInformation">
            <div class="grid">
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="advertiserName">Advertiser name</label>
                        <div>
                            <input pInputText id="advertiserName" formControlName="advertiserName" name="advertiserName" placeholder="Enter your name">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="email">Email</label>
                        <div>
                            <input pInputText id="email" formControlName="email" name="email" placeholder="Enter Email">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="mobileNumber">Number</label>
                        <div>
                            <input pInputText id="mobileNumber" pKeyFilter="int" formControlName="mobileNumber"  name="mobileNumber" placeholder="Enter number">
                        </div>
                    </div>
                </div>
                
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="brandLocation">Primary Location</label>
                        <div>
                            <textarea  pInputTextarea id="brandLocation" formControlName="brandLocation"
                             name="brandLocation" style="width: 100px;" placeholder="Brand located at"
                             [style]="{'width':'250px'}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-10">
                    <div *ngIf="profileForm.get('personalInformation.mobileNumber')?.errors?.['invalidMobileNumber']">
                        <label style="color: red;">Enter a valid 10-digit mobile number.</label> 
                    </div>
                    @if (showMessageFor=='personalInformation') {
                        <p-messages [showTransitionOptions]="'50ms'" [hideTransitionOptions]="'50ms'"></p-messages>
                    }
                </div>
                <div class="col-2">
                    <p-button label="Update" (onClick)="onSubmitpersonalInformationUpdate()" [disabled]="!profileForm.get('personalInformation')?.valid || updatingInformation"></p-button>
                </div>
            </div>
        </p-fieldset><br>
        <p-fieldset legend="Update password">
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-6">
                    <div class="pairs">
                        <label for="password">Password</label>
                        <div>
                            <input pInputText id="password" formControlName="password"  name="password" placeholder="Enter password">
                        </div>
                    </div>
                </div>
                
                <div class="col-12 sm:col-12 md:col-6">
                    <div class="pairs">
                        <label for="password">Confirm Password</label>
                        <div>
                            <input pInputText id="password" formControlName="password" name="ConfirmPassword" placeholder="Confirm password">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="grid">
                <div class="col-10">
                    @if (showMessageFor=='password') {
                        <p-messages [showTransitionOptions]="'50ms'" [hideTransitionOptions]="'50ms'"></p-messages>
                    }
                </div>
                <div class="col-2">
                    <p-button label="Update" (onClick)="onSubmitpasswordUpdate()" [disabled]="updatingInformation"></p-button>
                </div>
            </div>
        </p-fieldset><br>
        <p-fieldset legend="Brand recommendation" formGroupName="brandRecommendation">
            <div class="grid">
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="brandCategory">category</label>
                        <div>
                            <p-dropdown id="brandCategory" [options]="categories" formControlName="brandCategory"
                             name="brandCategory" placeholder="Enter brand category"></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="GenderType">Gender</label>
                        <div class="flex">
                            <div class="flex" id="GenderType">
                                <p-radioButton name="brandTargetGender" value="Male" inputId="MaleGenderType" formControlName="brandTargetGender"></p-radioButton>
                                <label  for="MaleGenderType" class="ml-2">Male</label>
                            </div>
                            <div class="flex">
                                <p-radioButton name="brandTargetGender" value="Female" inputId="FemaleGenderType" formControlName="brandTargetGender"></p-radioButton>
                                <label for="" for="FemaleGenderType" class="ml-2">Female</label>
                            </div>
                            <div class="flex">
                                <p-radioButton name="brandTargetGender" value="Both" inputId="AllGenderType" formControlName="brandTargetGender"></p-radioButton>
                                <label for="" for="AllGenderType" class="ml-2">All Gender types</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="brandEstablishedIn">Established in</label>
                        <div>
                            <p-calendar id="brandEstablishedIn" formControlName="brandEstablishedIn"
                            dateFormat="yy" view="year" [showIcon]="true" placeholder="Your brand established in"></p-calendar>
                        </div>
                        <span>ssss->{{ profileForm.get('brandRecommendation.brandEstablishedIn')?.value | date: 'dd/MM/yyyy'}}</span>
    
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="brandCompanyEmployeeSize">Company size</label>
                        <div>
                            <input pInputText id="brandCompanyEmployeeSize" formControlName="brandCompanyEmployeeSize"  pKeyFilter="int" name="brandCompanyEmployeeSize" placeholder="Number of employees working in">
                        </div>
                    </div>
                </div>
                
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="country">Country</label>
                        <div>
                            <p-dropdown id="country" [options]="country" formControlName="country" name="country" placeholder="Select country"></p-dropdown>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="brandHashTags">Hashtags</label>
                        <div>
                            <p-chips id="brandHashTags" formControlName="brandHashTags" separator="," name="brandHashTags" placeholder="Enter hashtags"></p-chips>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="pinCodes">Pin codes</label>
                        <div>
                            <p-chips id="pinCodes" formControlName="pinCodes" separator="," name="pinCodes" placeholder="Brand location pin codes with , seperated"></p-chips>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="brandTargetAges">Age range</label>
                        <div>
                            <p-inputMask mask="99-99" id="brandTargetAges" formControlName="brandTargetAges" name="brandTargetAges" placeholder="Enter age range i.e 18-99"></p-inputMask>
                        </div>
                    </div>
                </div>
                <!--
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="grid">
                        <div class="col-6">
                            <label for="brandTargetAges" >Target age</label>
                        </div>
                        <div class="col-6">
                            <input type="text" pInputText id="brandTargetAges" formControlName="brandTargetAges" name="brandTargetAges" class="w-full"/>
                        </div>
                    </div>
                    {{agerange}}
                    <p-slider [range]="true" styleClass="w-full mt-3"></p-slider>
                </div>-->
            </div>
            
            <div class="grid">
                <div class="col-10">
                    @if (invalidPinCodesList) {
                        <span class="validator">Invalid Pin Codes: {{ invalidPinCodesList }}</span>
                    }
                        
                    @if (profileForm.get('socialMedia.youtube')?.errors?.['invalidPinCode']) {
                        <label class="validator"> enter valid 8-digit numeric pin codes separated by commas.</label>
                    }
                    <div *ngIf="profileForm.get('brandRecommendation.pinCodes')?.invalid && (profileForm.get('brandRecommendation.pinCodes')?.dirty || profileForm.get('brandRecommendation.pinCodes')?.touched)">
                        <div *ngIf="profileForm.get('brandRecommendation.pinCodes')?.hasError('invalidPinCode')">
                            <span class="validator"> enter valid 8-digit numeric pin codes separated by commas.</span>
                        </div>
                    </div>
                    @if (showMessageFor=='BrandRecommendation') {
                        <p-messages [showTransitionOptions]="'50ms'" [hideTransitionOptions]="'50ms'"></p-messages>
                    }
                </div>
                <div class="col-2">
                    <p-button label="Update" (onClick)="onSubmitBrandRecommendationUpdate()" [disabled]="!profileForm.get('brandRecommendation')?.valid || updatingInformation"></p-button>
                </div>
            </div>
        </p-fieldset><br>
        <p-fieldset legend="Social Media" formGroupName="socialMedia">
            <div class="grid">
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="youtube">Youtube</label>
                        <div>
                            <input pInputText id="youtube" formControlName="youtube" name="youtube" placeholder="Enter youtube url">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="facebook">Facebook</label>
                        <div>
                            <input pInputText id="facebook" formControlName="facebook" name="facebook" placeholder="Enter facebook url">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="instagram">Instagram</label>
                        <div>
                            <input pInputText id="instagram" formControlName="instagram" name="instagram" placeholder="Enter instagram url">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="twitter">Twitter</label>
                        <div>
                            <input pInputText id="twitter" formControlName="twitter"  name="twitter" placeholder="Enter twitter url">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label for="pinterest">Pinterest</label>
                        <div>
                            <input pInputText id="pinterest" formControlName="pinterest" name="pinterest" placeholder="Enter printerest url">
                        </div>
                    </div>
                </div> 
            </div>
            <div class="grid">
                <div class="col-10">
                    <div *ngIf="profileForm.get('socialMedia.youtube')?.errors?.['invalidUrl']?.invalidResponse">
                        
                        <label class="validator">YouTube URL is not reachable.</label>
                      </div>
                    @if (profileForm.get('socialMedia.youtube')?.errors?.['invalidUrl']) {
                        
                        <label class="validator">Enter valid url for youtube</label>
                    } @else if (profileForm.get('socialMedia.facebook')?.errors?.['invalidUrl']) {
                        <label class="validator">Enter valid url for facebook</label>
                    } @else if (profileForm.get('socialMedia.instagram')?.errors?.['invalidUrl']) {
                        <label class="validator">Enter valid url for instagram</label>
                    } @else if (profileForm.get('socialMedia.twitter')?.errors?.['invalidUrl']) {
                        <label class="validator">Enter valid url for twitter</label>
                    } @else if (profileForm.get('socialMedia.pinterest')?.errors?.['invalidUrl']) {
                        <label class="validator">Enter valid url for printerest</label>
                    }
                    <div *ngIf="">
                        <label style="color: #ff0000;">Enter a valid 10-digit mobile number.</label> 
                    </div>
                    @if (showMessageFor=='SocialMedia') {
                        <p-messages [showTransitionOptions]="'50ms'" [hideTransitionOptions]="'50ms'"></p-messages>
                    }
                </div>
                <div class="col-2">
                    <p-button label="Update" (onClick)="onSubmitSocialMediaUpdate()" [disabled]="!profileForm.get('socialMedia')?.valid || updatingInformation"></p-button>
                </div>
            </div>
        </p-fieldset><br>
    </form>
</div>
