
<div class="container">
    {{message}}
    <form #profileupdateform="ngForm" (ngSubmit)="profileupdateForm()" >
        <p-fieldset legend="Brand information">
            <div class="grid">
                <div class="col-12 md:col-5 sm:col-12">
                    <img src="../../../assets/images/pai_square_with_name.jpg" width="100%" height="100%">
                </div>
                <div class="col-12 md:col-5 sm:col-12">
                    <div class="pairs">
                        <label>Brand name</label>
                        <div>
                            <input pInputText [(ngModel)]="profile.brandname" name="brandname" placeholder="Enter your brand name">
                        </div>
                    </div><br>
                    <div class="pairs">
                        <label>Brand Description</label>
                        <div>
                            <input pInputText [(ngModel)]="profile.bio" name="bio" placeholder="About your brand">
                        </div>
                    </div><br>
                    <div class="pairs">
                        <label>Brand Tagline</label>
                        <div>
                            <input pInputText name="tagline" placeholder="About your brand tagline">
                        </div>
                    </div><br>
                    <div class="pairs">
                        <label>Website</label>
                        <div>
                            <input pInputText  [(ngModel)]="profile.website" name="website" placeholder="Enter offical brand website">
                        </div>
                    </div>
                </div>
            </div>
        </p-fieldset><br>
        <p-fieldset legend="Personal information">
            <div class="grid">
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Advertiser name</label>
                        <div>
                            <input pInputText  [(ngModel)]="profile.firstname" name="first_name" placeholder="Enter your name">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Email</label>
                        <div>
                            <input pInputText  [(ngModel)]="profile.email" name="email" placeholder="Enter Email">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Number</label>
                        <div>
                            <input pInputText  [(ngModel)]="profile.mobilenumber" name="number" placeholder="Enter number">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Country</label>
                        <div>
                            <p-dropdown [(ngModel)]="profile.country" name="country" placeholder="Select country"></p-dropdown>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Address</label>
                        <div>
                            <textarea pInputTextarea  [(ngModel)]="profile.address" name="address" style="width: 100px;" placeholder="Brand located at"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </p-fieldset><br>
        <p-fieldset legend="Update password">
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-5">
                    <div class="pairs">
                        <label>Password</label>
                        <div>
                            <input pInputText  name="password" placeholder="Enter password">
                        </div>
                    </div>
                </div>
                
                <div class="col-12 sm:col-12 md:col-5">
                    <div class="pairs">
                        <label>Confirm Password</label>
                        <div>
                            <input pInputText name="ConfirmPassword" placeholder="Confirm password">
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-1">
                    <p-button type="submit" label="Update password"></p-button>
                </div>
            </div>
        </p-fieldset><br>
        <p-fieldset legend="Brand recommendation">
            <div class="grid">
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Catogery</label>
                        <div>
                            <p-dropdown name="category" placeholder="Enter brand category"></p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Gender</label>
                        <div class="flex">
                            <div class="flex">
                                <p-radioButton name="Gender" value="Male" inputId="MaleGenderType"></p-radioButton>
                                <label for="MaleGenderType" class="ml-2">Male</label>
                            </div>
                            <div class="flex">
                                <p-radioButton name="Gender" value="Female" inputId="FemaleGenderType"></p-radioButton>
                                <label for="FemaleGenderType" class="ml-2">Female</label>
                            </div>
                            <div class="flex">
                                <p-radioButton name="Gender" value="Male" inputId="AllGenderType"></p-radioButton>
                                <label for="AllGenderType" class="ml-2">All Gender types</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Established in</label>
                        <div>
                            <p-calendar name="establishedIn" dateFormat="dd/mm/yy" [showIcon]="true" placeholder="Your brand established in (year)"></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Company size</label>
                        <div>
                            <input pInputText  pKeyFilter="int" name="CompanySize" placeholder="Number of employees working in">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Hashtags</label>
                        <div>
                            <p-chips separator="," name="hashtags" placeholder="Enter hashtags"></p-chips>
                        </div>
                    </div>
                </div> 
            </div>
            
        </p-fieldset><br>
        <p-fieldset legend="Social Media">
            <div class="grid">
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Youtube</label>
                        <div>
                            <input pInputText  [(ngModel)]="profile.youtube" name="youtube" placeholder="Enter youtube url">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Facebook</label>
                        <div>
                            <input pInputText  [(ngModel)]="profile.facebook" name="facebook" placeholder="Enter facebook url">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Instagram</label>
                        <div>
                            <input pInputText  [(ngModel)]="profile.instagram" name="instagram" placeholder="Enter instagram url">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Twitter</label>
                        <div>
                            <input pInputText  [(ngModel)]="profile.twitter" name="twitter" placeholder="Enter twitter url">
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 sm:col-12">
                    <div class="pairs">
                        <label>Pinterest</label>
                        <div>
                            <input pInputText  [(ngModel)]="profile.pinterest" name="pinterest" placeholder="Enter printerest url">
                        </div>
                    </div>
                </div> 
            </div>
            
        </p-fieldset><br>
        <div class="pairs">
            <div class="col-12" class="flex justify-content-center">
                <p-button  type="submit" label="Submit" class="btn btn-primary"></p-button>
            </div>
        </div>
    </form>
</div>
