<div class="">
    <div class="grid">
        <div class="col-12 md:col-8 sm:col-2">
            <a href="/" style="text-decoration: none; cursor: pointer;">
                <label id="navpaisa">Pai Square</label>
            </a>
        </div>
        <div class="col-12 md:col-4 sm:col-10 flex align-content-center justify-content-end align-items-baseline flex-wrap gap-2" style="text-align: end; display: flex">
            <button pButton role="button" class="flex align-content-center justify-content-center" class="btn-primary btn-sm" routerLink="/createaccount" >Create account</button>
            <button pButton role="button" class="btn-primary btn-sm" routerLink="/login">Sign in</button>
        </div>
    </div>
</div>