<header class="texttop">
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-md-8 col-sm-2">
                <a href="/" style="text-decoration: none;"><h1 id="navpaisa">Pai Square</h1></a>
            </div>
            <div class="col-md-4 col-sm-10 " style="text-align: end;">
                <a role="button" class="btn btn-primary" routerLink="/createaccount" style="margin-right: 2ch;"><h5>Create account</h5></a>
                <button role="button" class="btn btn-primary" routerLink="/login"><h5>Sign in</h5></button>
            </div>
        </div>
    </div>
</header>