<app-navbar></app-navbar>
<br><br><br>
userID->{{userId}}
<!-- Button to view a specific advertisement by ID 
<button [routerLink]="['/advertisement', 1]">View Advertisement with ID 123</button>-->




<div  *ngFor="let ad of advertisements">

<div class="col-12 col-sm-8 col-bg-8 offset-sm-2">
    <div class="container">
        <div class="row">
            <div><br>
                <div class="card" >
                    <div class="card-header bg-primary">
                        <div class="row row-content">
                            <div class="col-12 col-sm-9 col-xs-3 col-bg-9 d-flex justify-content-between">
                                <h2 style="color: rgb(255, 255, 255);">{{ad.brandname}}</h2>
                                <div class="dropdown">
                                    <a class="btn btn-secondary" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
                                        &#8942;
                                      <i class="bi bi-caret-down-fill"></i>
                                    </a>
                                  
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li>
                                            <button class="btn btn-primary dropdown-item" style="color: black; font-size: 20px;" [routerLink]="['/profile', ad.advertiser.id]">
                                                <h4 >Visit Profile</h4>
                                            </button><br>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary dropdown-item" style="color: black;" (click)="block(ad.advertiser.id)">
                                                <h4>{{ blockedlist.includes(ad.advertiser.id) ? 'Unblock' : 'Block' }}</h4>
                                            </button><br>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary dropdown-item" data-toggle="modal" [attr.data-target]="'#report' + ad.id">
                                                <h4>Report</h4>
                                            </button><br>
                                            
                                        </li>
                                        <li>
                                            <button class="btn btn-primary dropdown-item" style="color: black;" (click)="favourite(ad.id)">
                                                <h4>{{ favouriteslist.includes(ad.id) ? 'Remove from favourites' : 'Add to favourites' }}</h4>
                                            </button><br>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <a role="button"  target="_blank" style="text-decoration: none;">
                            <div class="card-body">
                                <div [innerHTML]="ad.description"></div>
                                <h3>ad.advertiser.id:{{ad.advertiser.id}}</h3>
                                <h3>ad.id:{{ad.id}}</h3>
                            </div>
                        </a>
                    </div>
                    <div class="card-footer">
                        <table  class="row">
                            <tbody>
                                <tr >
                                    <td style="align-items: center;" class="text-align: justify; col-2">
                                        <button (click)="like(ad.id)" id="likebotton" type="submit"  name="post_id"  style="border:none;">
                                            <a [ngStyle]="{'color': ad.likes.includes(userId) ? 'blue' : 'black'}" style="border: none;" role="button" class="fa fa-thumbs-up fa-2x"></a>
                                        </button>
                                    </td>
                                    <td style="align-items: center; width: 20%;" class="col-2">
                                        <button (click)="follower(ad.advertiser.id)"  name="post_id" style="border: none; background: none;">
                                            <div *ngFor="let follower of userData">
                                                <a class="btn fa fa-heart fa-2x" [ngStyle]="{'color': follower.following.includes(ad.advertiser.id) ? 'blue' : 'black'}" ></a>
                                            </div>
                                        </button>
                                    </td>
                                    <td style="align-items: center; width: 20%;" class="col-2">
                                        <a role="button" (click)="Shareadvertisement(ad.id)" data-toggle="modal" data-target="#share" class="btn btn-primary" style="border: none; background: none; color: rgb(17, 0, 255);">
                                            <i class="fa fa-share-alt fa-2x"></i></a>
                                        </td>
                                    <td style="align-items: center; width: 20%;" class="col-2">
                                        <a (click)="visited(ad.id,ad.url)" href="{{ad.url}}" type="submit" name="post_url"   target="_blank">
                                            
                                            <div *ngIf="ad.visiteduser.includes(userId); else elseblock">
                                                <i  style="border: none; background: none; color: rgb(4, 0, 255);" class="fa fa-share fa-2x"></i>
                                            </div>
                                            <ng-template #elseblock> 
                                                <i class="fa fa-share fa-2x" style="border: none; background: none; color: rgb(0, 0, 0);"></i>
                                                </ng-template>
                                        </a>
                                    </td>
                                    <td class="col-2">
                                        <a role="button"  (click)="commentlist(ad.id)" aria-expanded="false">
                                            <div *ngIf="ad.commenteduser.includes(userId); else elseblock2">
                                                <i class="fa fa-comments fa-2x" style="border: none; background: none; color: rgb(4, 0, 255);"></i>
                                            </div>
                                            <ng-template #elseblock2> 
                                                <i  class="fa fa-comments fa-2x" style="border: none; background: none; color: rgb(0, 0, 0);"></i>
                                            </ng-template>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h5>{{ad.likes.length}} like</h5></td>
                                    <div *ngFor="let follower of userData">
                                        <h5>{{ follower.following.includes(ad.advertiser.id) ? 'Following' : 'Follow' }}</h5>
                                    </div>
                                    <td><h5>Share</h5></td>
                                    <td><h5>{{ad.visiteduser.length}} Visits</h5></td>
                                    <td><h5>{{ad.commenteduser.length}} Comment</h5></td>
                                </tr>
                            </tbody>
                        </table>
                        <!--Comments box-->
                        <div  *ngIf="currentOpenId == ad.id" class="row">
                            <div class="card "   >
                                    <div style="min-height: 10px; max-height: 300px; overflow-y: auto; width: 100%;">
                                        <div class="row"  *ngFor="let comment of comments" >
                                            <h4  class="col-6">{{comment.comment}}</h4>
                                            <h4 id="comment" class="col-6">{{comment.lastupdate | date:'yyyy-MM-dd HH:mm:ss'}}</h4>
                                        </div>
                                    </div>
                                <form #loginform="ngForm" (ngSubmit)="comment(ad.id)">
                                    <div class="row">
                                        <div class="col-11 sm-11">
                                            <input type="hidden" name="destid" id="destid" [(ngModel)]="commentobj.advertisementid" value="{{ad.id}}"/>
                                            <input id="commenttext" name="commentbox" placeholder="Enter comment here" [(ngModel)]="commentobj.comment" class="form-control" style="width:100%" required/>
                                        </div>
                                        <div class="col-1 sm-1">
                                            <button type="submit" class="btn btn-primary" style="align-items: center;"><i class="fa fa-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {{ad.id}}
                        <!--Modal for the report popup-->
                        <div class="modal fade"  id="report{{ad.id}}" role="dialog" aria-labelledby="reportModel" aria-hidden="false">
                            <div class="modal-dialog modal-dialog-centered modal-sm" >
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="reportModel">Report{{ad.id}}</h5>
                                        <button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" >&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 style="color: rgb(255, 35, 35);">{{reportmessage}}</h4>
                                        <div class="form-check" *ngFor="let option of options">
                                            <input class="form-check-input" type="radio" name="radio" [id]="option.id" [(ngModel)]="selectedOption" [value]="option.value">
                                            <label class="form-check-label" [for]="option.id">{{ option.label }}</label>
                                        </div>
                                        <div>
                                            <input class="form-check-input" type="radio" name="radio" id="none"  [(ngModel)]="selectedOption" value="none" data-toggle="collapse" data-target="#collapsetextbox" aria-expanded="false" aria-controls="collapsetextbox">
                                            <label class="form-check-label" for="none">Other</label>
                                        </div>
                                        <div *ngIf="selectedOption==='none'">
                                              <input class="form-control" type="text" [(ngModel)]="selectOptionText"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button (click)="Reportadvertisement(ad.id)" class="btn btn-primary">Report Advertisement</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ad.id}}
                        <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#share">
                            Launch demo modal
                        </button>
                        <div class="modal fade"  id="share" role="dialog" aria-labelledby="shareModel" aria-hidden="false">
                            <div class="modal-dialog modal-dialog-centered modal-sm" >
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="shareModel">Share</h5>
                                <button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" >&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <ul style="list-style: none;">
                                        <h2>/profile/{{ad.advertiser.id}}<button class="btn btn-primary" (click)="profile(ad.advertiser.id)">Visit profile</button></h2><br>
                                        <h2><button class="btn btn-primary" [routerLink]="['/block',  ad.advertiser.id]">Block</button></h2><br>
                                        <h2><button class="btn btn-primary" [routerLink]="['/reportadvertisement',  ad.id]">Report</button></h2><br>
                                        <h2><button class="btn btn-primary" [routerLink]="['/save',  ad.id]">Saved</button></h2><br>
                                    
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                            -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br><br>