<app-landingnavbar></app-landingnavbar>
<br><br><br>
<div class="grid">
    <div class="md:col-5 md:col-offset-3">
        <p-card header="Sign in">
            <div class="card-body ">
                <div class="grid">
                    <form #loginform="ngForm" (ngSubmit)="userLogin()">
                        <h3 class="text-danger">{{message}}</h3>
                        <h3>{{user.id}}</h3>
                        <div class="form-group container grid grid-content">
                            <label class="col-12 sm:col-5 md:col-5 form-group-label" placeholder="Enter username">Email</label>
                            <div class="col-12 sm:col-6 md:col-6">
                                <input pInputText class="form-control" type="text"  name="username"  [(ngModel)]="user.email" ngModel required/>
                            </div><br><br>
                            <label class="sm:col-5 md:col-5 form-group-label" aria-placeholder="Enter password">Password</label>
                            <div class="sm:col-6 md:col-6">
                                <input pInputText class="form-control" type="password"  name="password" [(ngModel)]="user.password" ngModel required/>
                            </div><br><br><br>
                            <div class="col-12 text-center">
                                <p-button type="submit" value="Sign-in" href="index" class="btn btn-primary">Sign-in</p-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </p-card> 
    </div>
</div>
<br><br><br>
