@import "~primeicons/primeicons.css";
@import '~primeflex/primeflex.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';

:host ::ng-deep .p-tree .p-tree-container ol, ul {
    padding-left: 0rem !important;
}
a{
   cursor: pointer;
}
.p-inputtext, .p-dropdown, .p-textarea, .p-calendar {
    margin: 0;
    width: 250px;
}
textarea{
    width: 250px;
    resize: vertical;
}
.p-inputtext {
    box-shadow: none;
    border-width: 2px;
    border-color:#025492;
}