<app-landingnavbar></app-landingnavbar>
<br>
<div class="grid">
    <div class="col-12 md:col-8 md:col-offset-2">
        <p-card header="Create account">
            <div class="card-body">
                <form  #registrationform="ngForm" (ngSubmit)="registerUser()">
                    <h3 class="text-danger">{{message}}</h3>
                    <div class="form-group grid grid-content">
                        <label for="username" class="sm:col-4 col-form-label">Username</label>
                        <div class="sm:col-8 ">
                            <input pInputText  type="text" class="form-control" [(ngModel)]="user.username" id="username" name="username" placeholder="Display name" ngModel  required><br>
                            
                        </div>
                        <label for="fullname" class="sm:col-4 col-form-label">Name</label>
                        <div class="sm:col-4 ">
                            <input pInputText type="text" class="form-control" [(ngModel)]="user.firstname" name="first_name" placeholder="First Name" required><br>
                        </div>
                        <div class="sm:col-4">
                            <input pInputText type="text" class="form-control" [(ngModel)]="user.lastname" name="last_name" placeholder="Last Name" required><br>
                        </div>
                        
                        <label for="email" class="sm:col-4 col-form-label">Email</label>
                        <div class="sm:col-8">
                            <input pInputText type="text" class="form-control" [(ngModel)]="user.email" name="email1" placeholder="Required" required><br>
                        </div>
                        
                        <label for="password" class="sm:col-4 col-form-label">Password</label>
                        <div class="sm:col-8">
                            <input pInputText type="password" class="form-control" [(ngModel)]="user.password" name="password1" placeholder="Enter password" required><br>
                        </div>
                        <label for="password" class="sm:col-4 col-form-label">Confirm Password</label>
                        <div class="sm:col-8">
                            <input pInputText type="password" class="form-control" [(ngModel)]="user.password" id="password" name="password2" placeholder="Re-enter password" required><br>
                        </div>
                        
                        <div class="col-12 text-center">
                            <p-button type="submit" class="btn btn-primary" value="Submit" [disabled]="!registrationform.valid">Submit</p-button>
                        </div>
                    </div>
                </form>  
            </div>
        </p-card>
    </div> 
</div>
   
<br><br>